.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(231, 60, 173);
  background: radial-gradient(circle, rgba(231, 60, 173, 0.6278886554621849) 0%, rgba(74, 152, 233, 0.7063200280112045) 39%, rgba(100, 77, 103, 0.6138830532212884) 100%);
}

.container p {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(10, 9, 9);
  height: 50px;
  margin-bottom: 50px;
}

.input {
  margin-top: 60px;
  height: 40px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  margin: 25px 0;
  padding: 10px;
  outline: none;
  border: 2px solid black;
}

input::placeholder {
  color: black;
  font-size: 15px;
}